# Basic requirements for main scripts
#
# By default only the cases used in multuiple scripts are installed.
#
# Note:
# - Usage examples:
#   1. Usual
#      pip install -r requirements.txt
#   2. Optional (i.e., including most optional):
#      pip install --verbose $(perl -pe 's/^#opt#\s*//;' ~/Mezcla/requirements.txt | grep -v '^#')
#   3. Full (i.e., including all optional):
#      pip install --verbose $(perl -pe 's/^#(opt|full)#\s*//;' ~/Mezcla/requirements.txt | grep -v '^#')
#      # TODO2: --ignore-errors [maldito pip]
#      perl -pe 's/^#full#\s*//;' ~/Mezcla/requirements.txt | grep -v '^#' | xargs -I '{}' pip install '{}'
# - use `pip freeze` to get current list of package specifications (n.b., >= better than == unless specific version needed)
# - installing textract from PyPI fails https://github.com/deanmalmgren/textract/issues/461
#
# Installation:
# - python -m nltk.downloader punkt averaged_perceptron_tagger
#
# TODO:
# - check absl module ($ grep -r "absl" .)
# - add support for this to setup.py
#...............................................................................
# Regular requirements
#
## OLD
## HTMLParser==0.0.2
## absl_py==1.2.0
## beautifulsoup4==4.11.1
HTMLParser
absl_py
beautifulsoup4
bs4
cachetools
cherrypy
diskcache
extcolors>=1.0.0
flask
git+https://github.com/tehabstract/textract.git
gradio
lxml
mako
matplotlib
more_itertools
nltk
numpy>=1.18.5
pandas>=1.3.0
pyaml
pyenchant
## OLD: pysbd==0.3.4
pysbd
pytest
requests
## OLD: scikit-learn==1.1.2
scikit-learn
scipy
sentencepiece
six
## OLD:
## stop_words==2018.7.23
## tensorflow_hub==0.12.0
stop_words
tensorrt				# for HF
transformers				# Hugging Face (HF)
torch
webcolors
## OLD: wheel==0.38.4
wheel
xgboost
#
#...............................................................................
# Optional requirements
#
# TODO:
# - download Spacy model(s):
#   python -m spacy download en_core_web_lg
# - install bash kernel
#   python -m bash_kernel.install
# - add '#opt#deprecated#' (e,.g., useful for deprecated functions/modules)
# NOTE:
# - tensorflow and related not installed by default due to size of repo and C compilation overhead.
# - ipython, pylint, etc. used for setting up development environment
#
#opt# SpeechRecognition
#opt# accelerate
#opt# bash_kernel
#opt# colout
#opt# coverage
#opt# datasets
#opt# diffusers
#opt# flit
#opt# gensim
#opt# ibm-watson
## OLD: #opt# ibm_cloud_sdk_core==3.15.3
#opt# ibm_cloud_sdk_core
#opt# ipython
#opt# jupyter
#opt# librosa
#opt# pylint
#opt# pyyaml
## OLD: #opt# scispacy==0.5.0
#opt# scispacy
#opt# selenium
#opt# spacy>=3.0.0
## OLD: #opt# vaderSentiment==3.3.2
#opt# vaderSentiment
#...............................................................................
# "Fully optional" requirements
# Note: these generally involve large or long installations.
#
#full# bert==2.2.0
#full# albert==1.3.1
#full# bert-tensorflow
#full# keras
#full# kenlm
## OLD: #full# lucene
#full# sacremoses
#full# tensorflow
#full# tensorflow_hub
