# Basic requirements for main scripts
# optional: keras, tensorflow
#
# By default only the cases used in multuiple scripts are installed.
#
# Usage examples:
# 1. Usual
#    pip install -r requirements.txt
#
# 2. Full (i.e., including optional):
#    pip install $(perl -00 -pe 's/^#opt#\s*//gm;' ~/python/Mezcla/requirements.txt | grep -v '^#')
#
# TODO: supporting commands (e.g., lynx)
bs4
cherrypy
lxml
mako
matplotlib
nltk
numpy
## OLD: ordereddict
pandas>=1.3.0
pyenchant
requests
scipy
sklearn
## TODO: put in setup.py
six
stopwords
xgboost

#...............................................................................
# Optional requirements
#
# TODO:
# - show comand for downloading Spacy en_core_web_lg model
#
#opt# gensim
# TODO: #opt# bert-tensorflow
#opt# pyyaml
#opt# spacy>=3.0.0
# TODO: python -m spacy download en
# TODO: #opt# tensorflow
#
# NOTE: the following are for setting up typical development environment
#opt# ipython
#opt# pylint
